#include "/home/ap4y/.colors/ocean"

!! urxvt
#define normal xft:Source Code Pro:size=9:antialias=false, \,
               xft:Source Han Sans JP:antialias=false, \
               xft:Symbola

URxvt.font:           normal
URxvt.boldFont:       normal
URxvt.italicFont:     normal
URxvt.bolditalicFont: normal
URxvt.letterSpace:    -1
URxvt.internalBorder: 15

URxvt.depth:                  32
URxvt.scrollBar:              false
URxvt.buffered:               true
URxvt.tabbed.autohide:        true
URXvt.tabbed.reopen-on-close: yes

URxvt.perl-ext-common: default,matcher
URxvt.matcher.button:  1
URxvt.url-launcher:    /usr/bin/vimb

!! fonts
Xft.dpi:        96
Xft.antialias:  1
Xft.rgba:       rgb
Xft.hinting:    1
xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
