!! urxvt
#define commonFont xft:Iosevka Medium:size=10:antialias=true

URxvt.font:           commonFont
URxvt.boldFont:       commonFont
URxvt.italicFont:     commonFont
URxvt.bolditalicFont: commonFont
!! URxvt.letterSpace:    -1
URxvt.internalBorder: 15

URxvt.depth:                  32
URxvt.scrollBar:              false
URxvt.buffered:               true
URxvt.tabbed.autohide:        true
URXvt.tabbed.reopen-on-close: yes

URxvt.perl-ext-common: default,matcher
URxvt.matcher.button:  1
URxvt.url-launcher:    /usr/local/bin/vimb

!! fonts
Xft.dpi:        96
Xft.antialias:  1
Xft.autohint:   0
Xft.rgba:       rgb
Xft.hinting:    1
xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault

!! rofi
rofi.width: 900
rofi.padding: 400
rofi.fullscreen: true
rofi.terminal: st
rofi.lines: 9
rofi.font: Iosevka Medium 20
rofi.color-window: argb:ee2B303B, argb:AA181818, #1818181
rofi.color-normal: argb:00BF616A, #8FA1B3, argb:00BF616A, argb:00BF616A, #BF616A
rofi.separator-style: none
rofi.scrollbar-width: 0
