[user]
	name = ap4y
	email = mail@ap4y.me
	signingkey = 0D33E2D261667B50
[core]
	excludesfile = ~/.gitignore_global
[apply]
	whitespace = nowarn
[push]
	default = tracking
[color]
    diff = auto
	status = auto
	branch = auto
[alias]
	lc = log @{1}.. --stat --no-merges
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar)%Creset' --abbrev-commit --date=relative
[pull]
	rebase = true
[gpg]
	program = gpg2
[commit]
	gpgsign = false
